snippet setuptools
import setuptools
from ${1:my_module} import __version__

setuptools.setup(
    name="$1",
    version=__version__,
    author="${2:author}",
    author_email="${3:email}",
    description="${4:description}",
    url="${5:url}",
    packages=setuptools.find_packages(),
    classifiers=[
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: MIT",
        "Operating System :: OS Independent",
    ],
    python_requires='>=3.6',
)
endsnippet
