audible-bell,true
cursor-shape,'block'
scroll-on-keystroke,true
cursor-colors-set,false
cjk-utf8-ambiguous-width,'narrow'
default-size-rows,24
encoding,'UTF-8'
use-theme-colors,true
custom-command,''
visible-name,'Unnamed'
login-shell,false
exit-action,'close'
use-system-font,true
rewrap-on-resize,true
backspace-binding,'ascii-delete'
foreground-color,'#00FF00'
bold-color-same-as-fg,true
cursor-blink-mode,'system'
default-show-menubar,true
default-size-columns,80
background-color,'#000000'
palette,['#2E2E34343636', '#CCCC00000000', '#4E4E9A9A0606', '#C4C4A0A00000', '#34346565A4A4', '#757550507B7B', '#060698209A9A', '#D3D3D7D7CFCF', '#555557575353', '#EFEF29292929', '#8A8AE2E23434', '#FCFCE9E94F4F', '#72729F9FCFCF', '#ADAD7F7FA8A8', '#3434E2E2E2E2', '#EEEEEEEEECEC']
cursor-foreground-color,'#ffffff'
allow-bold,true
highlight-foreground-color,'rgb(236,255,244)'
font,'Monospace 12'
delete-binding,'delete-sequence'
scrollback-unlimited,false
word-char-exceptions,@ms nothing
cursor-background-color,'#000000'
highlight-background-color,'#000000'
scroll-on-output,false
scrollbar-policy,'always'
use-custom-command,false
bold-color,'#000000'
highlight-colors-set,false
scrollback-lines,10000
